@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at left top, rgb(31, 41, 55), rgb(22, 78, 99), rgb(167, 167, 169));
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}
p a {
  border-bottom: .1em solid #e8e1d8;
  transition: background-color .2s ease-in-out;
  text-decoration: none;
}
p a:hover {
  background-color: #6dcce6;
}
i {
  margin-right: 10px;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}

footer {
  margin: 40px auto;
}

footer p {
  text-align: center;
  color: #bbb;
}